<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>614415855678-brkv1d5jguve7a1088o6d4spe8ddordo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.614415855678-brkv1d5jguve7a1088o6d4spe8ddordo</string>
	<key>API_KEY</key>
	<string>AIzaSyCQpZkgUSnvXuPR0z0orWTok00fLgj7ptg</string>
	<key>GCM_SENDER_ID</key>
	<string>614415855678</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fluttern.flutterm</string>
	<key>PROJECT_ID</key>
	<string>lutterm</string>
	<key>STORAGE_BUCKET</key>
	<string>lutterm.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:614415855678:ios:ebe211695845cb37b0216f</string>
</dict>
</plist>